<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ИдёмВКино</title>
    <link rel="stylesheet" href="css_templete/styleTemplete.css">
    <link href="https://fonts.googleapis.com/css?family=Coiny|Roboto:400,700,700i&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>
    <header class="page-header">
        <h1 class="page-header__title">Добро пожаловать <br>в наш Кинотеатр</h1>
    </header>
    <main>
        <section class="ticket">
                <h2 class="magic">
                        <span>введите данные:</span><br>
                </h2>
            <div class="tichet__check">
                <form class="ticket__info-wrapper" method="post" action="" enctype="multipart/form-data">
                    <input class="input_pole" type="text" placeholder="Email" name="login">
                    <input class="input" type="password"  placeholder="Пароль" name="password"><br/>
                    <input class="button_input" type="submit" name="inp" value="Авторизоваться"> 
                </form>
            </div>
        </section>
    </main>

<script>
    document.querySelector('.magic').onmousemove = (e)=>{
            const x = e.pageX - e.target.offsetLeft
            const y = e.pageY - e.target.offsetTop
            e.target.style.setProperty('--x', x + "px")
            e.target.style.setProperty('--y', y + "px")
        }
</script>
</body>
</html>